html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}

.layerBtn {
    position: relative;
    float: left;
    width: 100px;
    height: 25px;
    text-align: center;
    z-index: 5;
    top: -700px;
    left: 30px;
    background-color: white;
    padding: 2px 5px 2px 5px;
    border: 2px solid #00BCD4;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.layerBtn:hover {
    background-color:#ebf8fc;
    cursor: pointer;
}

.layers {
    position: relative;
    float: left;
    width: 200px;
    height: auto;
    text-align: center;
    z-index: 5;
    top: -660px;
    left: -80px;
    background-color: white;
    font-size: 14px;
    padding: 10px 5px 10px 5px;
    border: 1px solid #545454;
    border-radius: 5px;
    text-align: left;
}

.layers.on {
    display: inline-block;
}

.layers input {
    margin: 5px;
    vertical-align: middle;
}

#progress {
    visibility: hidden;
    position: relative;
    float: right;
    width: 270px;
    height: 70px;
    text-align: center;
    z-index: 5;
    bottom: 110px;
    right: 30px;
    color: white;
    padding-top: 10px;
    background-color: #333;
    font-size: 16px;
}

#progress.show {
    visibility: visible;
    -webkit-animation: fadein 0.6s, fadeout 0.5s 2.6s;
    animation: fadein 0.6s, fadeout 0.5s 2.6s;
}

@-webkit-keyframes fadein {
    from {bottom: 80; opacity: 0;} 
    to {bottom: 110px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 80; opacity: 0;}
    to {bottom: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 110px; opacity: 1;} 
    to {bottom: 80; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 110px; opacity: 1;}
    to {bottom: 80; opacity: 0;}
}
